################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plancton.Maui/obj
/Plancton.Maui/bin
/.vs
